@import "../bootstrap/scss/bootstrap";
@import"palette";
#wall{
    background-image: url(../../img/forest_wallpaper.jpg);
    background-size: cover;
}
.navbar{
    width: 100%;
    background: $écolo-4-hex;
    z-index: 10;
}
.navbar a{
    color: $écolo-2-hex;
    font-family: "spartan",sans-serif !important;
}
.pagination{
    display: inline !important;
}

.nav-links a{
    font-family: "spartan",sans-serif;
    text-decoration: none !important;
    & :focus{
        outline: none !important;
    }
}

.jumbotron{
    background-color: $écolo-1-rgba;
}

.navbar-toggler{
    border-color: $écolo-2-hex;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(86,209,77, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }