@import "../bootstrap/scss/bootstrap";
@import"palette";
#wall{
    background-image: url(../../img/forest_wallpaper.jpg);
    background-size: cover;
}
.navbar{
    width: 100%;
    background: $écolo-4-hex;
    z-index: 10;
}
.navbar a{
    color: $écolo-2-hex;
}
.pagination{
    display: inline !important;
}

.nav-links a{
    color: blueviolet;
    text-decoration: none !important;
    & :focus{
        outline: none !important;
    }
}